.header-container {
  width: 100%;
  padding: 15px 20px;
  background-color: #212529;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
  text-decoration: none;
  font-weight: 600;
  color: #fff;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }
}

.header-item-cart {
  color: #fff;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 4px;
}
